<div class="card">
  <img src="" alt="company logo" class="company-logo" />
  <div class="name-tags">
    <p class="company-name">Photosnap</p>
    <p class="new">NEW!</p>
    <p class="featured">FEATURED</p>
  </div>
  <h4 class="position"></h4>
  <div class="details">
    <p class="posted-at">1d ago</p>
    <p class="contract">Full Time</p>
    <p class="location">USA Only</p>
  </div>
  <hr />
  <div class="tags">
    <p class="tag">Fullstack</p>
    <p class="tag">Midweight</p>
    <p class="tag">Python</p>
    <p class="tag">React</p>
  </div>
</div>
